/* Style for the container of the TextArea */
.vbox-container {
    -fx-background-color: transparent;
}

/* Style for the TextArea */
.text-area {
    -fx-font-size: 14px;
    -fx-control-inner-background: #000000; /* Dark background */
    -fx-text-fill: #eeeeee; /* White text */
    -fx-background-color: transparent;
    -fx-focus-color: #000000;



}

/* Style for TextArea hover */
.text-area:hover {
    -fx-border-color: transparent; /* Keep border transparent on hover */
}
